.draggable {
  cursor: grab;
}

.participant {
  .delete {
    display: block;
    margin-left: auto;

    svg {
      path {
        stroke: #ff7676;
      }
    }

    &:disabled svg path {
      stroke: #b3b3b3;
    }
  }

  .nameEditBtn {
    min-width: 20px;
    width: 20px;
    height: 20px;

    > svg {
      max-width: 100%;
      max-height: 100%;

      path {
        stroke: #767676;
      }
    }
  }
}
