.tableBtn {
  height: 35px;
  font-size: 12px;
  padding: 0 10px;
}

@media screen and (max-width: 700px) {
  .actionsColumn {
    grid-column: span 2;
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    > a:first-child {
      grid-column: span 2;
      width: 100%;
    }
  }
}