.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  button {
    padding: 5px;
    border: 1px solid #ff7676;
    border-radius: 50%;

    svg {
      width: 15px;
      height: auto;

      path {
        stroke: #ff7676;
      }
    }

    &.top {
      border: 1px solid #6baf00;

      svg {
        rotate: 180deg;

        path {
          stroke: #6baf00;
        }
      }
    }

    &:disabled {
      border: 1px solid #b3b3b3;
    }
  }
}